%article#main
  %h1 Wer wir sind
  .row.row-content.buffer
    .column.two#barbara
      %a{href: "#barbara"}
        = image_tag('aboutUs/Barbara_Schumacher_tb.jpg' )
      .foto_by
        Bild Hansjörg Walter
      %h6
        Barbara Schumacher
      %a{href: "#barbara"}
        .show_profile Profil anzeigen
      %br/
    
    .column.two#doris
      %a{href: "#doris"}
        = image_tag('aboutUs/Doris_Weiller_tb.jpg' )
      .foto_by
        Bild Umwelpädagogik.ch
      %h6
        Doris Weiller
      %a{href: "#doris"}
        .show_profile Profil anzeigen
      %br/
    
    .column.two#david
      %a{href: "#david"}
        = image_tag('aboutUs/David_Iten_tb.jpg' )
      .foto_by
        Bild Umwelpädagogik.ch
      %h6
        David Iten
      %a{href: "#david"}
        .show_profile Profil anzeigen
      %br/

    .column.two#sabine
      %a{href: "#sabine"}
        = image_tag('aboutUs/Sabine_Schaedler_tb.jpg' )
      .foto_by
        Bild Umwelpädagogik.ch
      %h6
        Sabine Schädler
      %a{href: "#sabine"}
        .show_profile Profil anzeigen
      %br/

    .column.two#michelle
      %a{href: "#michelle"}
        = image_tag('aboutUs/Michelle_Meier_tb.jpg' )
      .foto_by
        Bild Umwelpädagogik.ch
      %h6
        Michelle Meier
      %a{href: "#michelle"}
        .show_profile Profil anzeigen
      %br/

    .column.two.last#birgit
      %a{href: "#birgit"}
        = image_tag('aboutUs/Birgit_Gluth_tb.jpg' )
      .foto_by
        Bild Umwelpädagogik.ch
      %h6
        Brigit Gluth
      .show_profile
        Pausiert wegen Grossprojekt
        %br/
        %br/
        %a{href: "#birgit"}
          Profil anzeigen
      %br/


    
  .clear
  %br/
  #cv_barbara
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 2. Juni 1964 in Basel
      %br/
      Mutter einer jugendlichen Tochter.
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      Seit 10 Jahren fast täglich als Umwelt- und Abfallpädagogin im Einsatz.
      %br/
      Tätig für folgende Firmen, Schulen und Organisationen
      %br/
      %br/
      .column.four.reset
        #title_institut Energie Zukunft Schweiz
      .column.eight.reset
        Guide auf Anlagen für erneuerbare Energie und   Marketingplanung für deren Schulprojekte
      .clear
      %br/
      .column.four.reset
        #title_institut Amt für Umweltschutz und Abfallpädagogin Energie Basel
      .column.eight.reset
        Abfallpädagogin
      .clear
      %br/
      .column.four.reset
        #title_institut Gemeinden
        Aesch, Allschwil, Biel-Benken, Binningen, Birsfelden, Bottmingen, Ettingen, Muttenz, Oberwil, Reinach, Therwil
      .column.eight.reset
        Abfall- und Umweltpädagogin und Beraterin Anti-Littering Kampagnen Abfallarme Veranstaltungen
      .clear
      %br/
      .column.four.reset
        #title_institut Natur- und Vogelschutzverein Oberwil
      .column.eight.reset
        Beraterin, Mitorganisation und Realisation von Projekten und Anlässen
      .clear
      %br/
      .column.four.reset
        #title_institut Umwelt und Landschaft Therwil
      .column.eight.reset
      .clear
      %br/
      .column.four.reset
        #title_institut Umweltschutzkommission Biel-Benken
      .column.eight.reset
        Präsidentin
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 Projektleiterin Distributionskommunikation
            %p Schweizer Radio DRS, Basel und Zürich
            %span.date 2001 bis 2007
        .timeline-block
          .timeline-content
            %h2 Marketingberatung und -realisation
            %p Atelier 111 Ökobau, Basel
            %span.date 1999 bis 2000
        .timeline-block
          .timeline-content
            %h2 Produktmanagerin OTC-Heilmittel, Diätetika, Mutter&Kind
            %p Weleda AG, Arlesheim
            %span.date 1990 bis 1999
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Jogging, Yoga, Mountainbike, Wandern, Gartengestaltung, Textilesgestalten, Fasnacht
    .clear
  
  #cv_birgit
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 21.März 1967 in Basel
      %br/
      Lebt mit Mann und zwei Söhnen in Laufen BL
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      .column.four.reset
        #title_institut Waldkindergarten
      .column.eight.reset
        Seit 2012 als Kindergärtnerin im Waldkindergarten der Gemeinde Biel-Benken zu 60% tätig.
      .clear
      %br/
      .column.four.reset
        #title_institut Theaterpädagogin
      .column.eight.reset
        Als Theaterpädagogin und Regisseurin seit 2005 engagiert.
        %ul
          %li Weihnachtsmusical der Kirchgemeinde Laufental
          %li Theaterworkshop für Jugendliche Kulturforum Laufen
      .clear
      %br/
      .column.four.reset
        #title_institut Umwelttheater
        Gemeinden: Allschwil, Binningen, Birsfelden, Biel-Benken, Bottmingen, Ettingen, Muttenz, Oberwil, Reinach, Therwil
      .column.eight.reset
        Zweimal wöchentlich als Umwelt- und Abfallpädagogin mit  dem Umwelttheater  in Schulen und Kindergärten im Einsatz.
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 Theaterpädagogin Freizeitkurs
            %p Schule Münchenstein
            %span.date 2011-2013
        .timeline-block
          .timeline-content
            %h2 Figurentheater Birgit Gluth
            %p Es entstanden 3 Bühnenstücke die in der Deutschschweiz zur Aufführung kamen
            %span.date 2005-2012
        .timeline-block
          .timeline-content
            %h2 Kindergärtnerin
            %p in verschiedenen Gemeinden
            %span.date seit 2004
        .timeline-block
          .timeline-content
            %h2 Theaterpädagogin Freizeitkurs
            %p Schule Wallisellen ZH
            %span.date 2001-2004
        .timeline-block
          .timeline-content
            %h2 Hochschule für Theater
            %p Zürich
            %span.date 1995-1996
        .timeline-block
          .timeline-content
            %h2 Kindergärtnerin
            %p Reinach
            %span.date 1992-1995
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Gärtnern, Wildkräuter sammeln und auf verschiedenste Arten verwenden, Lesen, Wandern, Kochen und Backen, Basteln und Gestalten, Theater
    .clear


  #cv_doris
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 5. März 1969 in Liestal
      %br/
      Lebt mit ihrer Familie in Basel
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      .column.three.reset
        #title_institut Figurentheater
      .column.eight.reset
        Gründet 2003 ihr eigenes
        %a{href: "http://www.figurentheater-weiller.ch"}Figurentheater.
        %br/
        Verschiedene Stücke für Kinder und Erwachsene im Repertoire. Auftritte in Kleintheater, Gemeinden und Schulen.

      .clear
      %br/
      .column.three.reset
        #title_institut Sozialpädagogin
      .column.eight.reset
        Führt Projekte  in Schulen im Kanton Baselstadt zum Thema „Figuren bauen & spielen „ durch. ( Mus-e )
        %br/
        Arbeitet als Sozialpädagogin teilzeit in einem Wohnheim in Basel. 
      .clear
      %br/
      .column.three.reset
        #title_institut Umweltpädagogik
      .column.eight.reset
        Seit 2016 als Mme Poubelle als Umwelt – und Abfallpädagogin in Gemeinden in Kanton Baselland unterwegs.
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 Nachdiplomstudium Figurentheater Hochschule Zürich
            %p Zürich
            %span.date 2001-2004
        .timeline-block
          .timeline-content
            %h2 Einstieg beim Figurentheater Felucca
            %span.date 1994-2002
        .timeline-block
          .timeline-content
            %h2 Ausbildung als Sozialpädagogin
            %span.date 1993-1996
        .timeline-block
          .timeline-content
            %h2 Lehre als Holzbildhauerin
            %span.date 1987-1991
        .timeline-block
          .timeline-content
            %h2 Kunstgewerbschule in Basel
            %p Basel
            %span.date 1986-1987
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Theaterbesuche, lesen, mit meiner Familie verschiedene Aktivitäten erleben, gärtnern, wandern, schwimmen usw.
    .clear

  #cv_david
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 23. Januar 1986 in Baar
      %br/
      Vater von Zwillingstöchtern (Geboren 2010)
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      .column.three.reset
        #title_institut Pädagogik
      .column.eight.reset
        Seit 2016 arbeit als Lehrer und Betreuer in der Sonderschule Lernzeit GmbH in Zollbrück
        %br/
        Seit 2015 verschiedene Praktika an Rudolf Steiner Schulen im Rahmen der berufsbegleitenden Ausbildung zum Klassen- und Gartenbaulehrer

      .clear
      %br/
      .column.three.reset
        #title_institut Musik
      .column.eight.reset
        Kursleiter von Didgeridoo-Kursen
        %br/
        Konzerte mit World- und Folk Music Ensembles
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 Studium an der Akademie für anthroposo-phische Pädagogik (AfaP)
            %p Dornach
            %span.date 2014-2018
        .timeline-block
          .timeline-content
            %h2 Begleitung und Betreuung von Menschen mit geistigen Behinderungen
            %P verschiedene Institutionen
            %span.date 2008–2017
        .timeline-block
          .timeline-content
            %h2 Praktikum, Sprachaufenthalte und Reisen
            %p England und Südamerika
            %span.date 2005–2008
        .timeline-block
          .timeline-content
            %h2 Lehre als Kaufmännischer Angestellter 
            %p Schweiz. Vereinigung für Qualitäts- und Managementsysteme
            %span.date 2002–2005
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Gärtnern und das damit verbundene Kochen und Weiterverarbeiten der Gartenerzeugnisse, Musik, Improvisation, Spiel, Bewegungs- und Kampfkünste.
    .clear


  #cv_sabine
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 22. Januar 1980
      %br/
      Lebt in Bottmingen
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      .column.three.reset
        #title_institut Theater
      .column.eight.reset
        Seit 2005 in diversen Engagements als Musicaldarstellerin und Schauspielerin 
        %br/
        Seit 2013 als ForumSchauspierin bei der Medien- und TheaterFalle bzw. beim Verein Reactor tätig
        %br/
        2014 und 2017 Produktion eigener Theaterstücke mit Theater vor dem Mond
        %br/
        Seit 2014 diverse Auftritte mit „The Urban Country Club“, Country Duo
      .clear
      %br/
      .column.three.reset
        #title_institut Sprecherin
      .column.eight.reset
        Seit 2015 als Sprecherin in Hörspielen und Werbung
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 Weiterbildung in Theaterpädagogik
            %span.date 2019
        .timeline-block
          .timeline-content
            %h2 Clown Weiterbildung bei Yve Stöcklin
            %P Basel
            %span.date 2011
        .timeline-block
          .timeline-content
            %h2 Schauspielstudium an der Hochschule für Musik und Theater
            %p Rostock
            %span.date 2005–2007
        .timeline-block
          .timeline-content
            %h2 Musicalausbildung an der Universität für Musik und darstellende Kunst
            %p Wien
            %span.date 2001–2004
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Die Arbeit in meinem wunderbaren kleinen Garten, Wandern, Tanzen
    .clear



  #cv_michelle
    .column.two.reset
      %h5 Privat
    .column.ten.reset
      Geboren am 20. Februar 1985
      %br/
      Lebt in Basel
    .clear

    %hr.hr_us
    .column.two.reset
      %h5 Berufliches
    .column.ten.reset
      .column.three.reset
        #title_institut Pädagogik
      .column.eight.reset
        Seit 2010 angestellt als Klassenlehrperson 3.-6. Schuljahr an der Primarschule Therwil
        %br/
        Seit 2013 Mitverantwortliche für die Einführung des Lehrplans 21 (Lokale Sachverständige) an der Primarschule Therwil
        %br/
        %br/
        Von 2008 - 2010 angestellt als Primarschullehrperson in einer 4.Klasse/5. Klasse in Erlinsbach (SO)
      .clear
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Berufliche Entwicklung
    .column.ten.reset
      #timeline.container
        .timeline-block
          .timeline-content
            %h2 CAS in Naturbezogener Umweltbildung
            %P Zürcher Fachhochschule für angewandte Wissenschaften
            %span.date 2012-2015
        .timeline-block
          .timeline-content
            %h2 Bachelor of Arts in Primary Education (Primarstufe)
            %p Pädagogische Hochschule Liestal
            %span.date 2007–2011
        .timeline-block
          .timeline-content
            %h2 Certificate of Advanced Studies in Naturbezogener Umweltbildung
            %p Zürcher Fachhochschule für angewandte Wissenschaften
            %span.date 2004–2007
    .clear
    %hr.hr_us
    .column.two.reset
      %h5 Weitere Interessen
    .column.ten.reset
      Konzeptionelle Mitgestaltung im Vorstand der Nuglar Gärten, Aufbauarbeit einer solidarischen Landwirtschaft in Nuglar-St. Pantaleon. 
      %br/
      Damit verbunden das Haltbarmachen und Weiterverarbeiten der bio-dynamischen Lebensmittel.
      %br/
      Seit vielen Jahren spiele ich Querflöte. Bin gerne in Bewegung, bei täglichen Velofahrten und aktiv im polysportiven Erwachsenensport.
    .clear

