%article#main
	- if flash[:notice]
		.notice= flash[:notice]
	%p
	#accordion
		%h4
			%a{href: "#"} Primarschule und Kindergarten
		= render 'primarKindergarten'

		%h4
			%a{href: "#"} Sekundarschule
		= render 'sekundar'

		%h4
			%a{href: "#"} Lehrerweiterbildung
		= render 'lehrer_weiterbildung'

		%h4
			%a{href: "#"} Erwachsenbildung
		= render 'eltern'