<article id="main">
<p>
	<div id="accordion">
	<h4><a href="#">Kindergarten und Primarschulen</a></h4>
	<div>
		<!-- Kompostieren -->
		<h4>Kompostieren, die Tierwelt im Kompost wird entdeckt</h4>
		<p>
			Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig, 
dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese 
Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach 
lebenden Komposttieren zu forschen. 
		</p><br />
		<div id="orders">
			<div class="column nine reset">
				<div class="orderTitle column three reset">
					<p>Kursleitung</p>
					<p>Kursziel</p>
					<p>Kursdauer</p>
					<p>mögliche Kurstage</p>
					<p>Kursort</p>
					<p>Stufen</p>
				</div>
				<div class="column nine reset last">
					<p>Barbara Schumacher</p>
					<p>Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.</p>
					<p>2 oder 3 Std. </p>
					<p>Montag bis Donnerstag, ideal am Nachmittag </p>
					<p>Kindergarten, Schulzimmer, Areal Schulhaus</p>
					<p>KG bis 6. Primar</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="column three reset last">
				<%= image_tag('kompost.png' ) %>
			</div>
		</div>
		<div class="clear"></div>
		<hr class="hr">
		<!-- Kompostieren -->
		<h4>Kompostieren, die Tierwelt im Kompost wird entdeckt</h4>
		<p>
			Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig, 
dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese 
Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach 
lebenden Komposttieren zu forschen. 
		</p><br />
		<div id="orders">
			<div class="column nine reset">
				<div class="orderTitle column three reset">
					<p>Kursleitung</p>
					<p>Kursziel</p>
					<p>Kursdauer</p>
					<p>mögliche Kurstage</p>
					<p>Kursort</p>
					<p>Stufen</p>
				</div>
				<div class="column nine reset last">
					<p>Barbara Schumacher</p>
					<p>Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.</p>
					<p>2 oder 3 Std. </p>
					<p>Montag bis Donnerstag, ideal am Nachmittag </p>
					<p>Kindergarten, Schulzimmer, Areal Schulhaus</p>
					<p>KG bis 6. Primar</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="column three reset last">
				<%= image_tag('kompost.png' ) %>
			</div>
		</div>
		<div class="clear"></div>
		<hr>
		<!-- Kompostieren -->
		<h4>Kompostieren, die Tierwelt im Kompost wird entdeckt</h4>
		<p>
			Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig, 
dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese 
Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach 
lebenden Komposttieren zu forschen. 
		</p><br />
		<div id="orders">
			<div class="column nine reset">
				<div class="orderTitle column three reset">
					<p>Kursleitung</p>
					<p>Kursziel</p>
					<p>Kursdauer</p>
					<p>mögliche Kurstage</p>
					<p>Kursort</p>
					<p>Stufen</p>
				</div>
				<div class="column nine reset last">
					<p>Barbara Schumacher</p>
					<p>Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.</p>
					<p>2 oder 3 Std. </p>
					<p>Montag bis Donnerstag, ideal am Nachmittag </p>
					<p>Kindergarten, Schulzimmer, Areal Schulhaus</p>
					<p>KG bis 6. Primar</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="column three reset last">
				<%= image_tag('kompost.png' ) %>
			</div>
		</div>

	</div>
	<h4><a href="#">Primarschule</a></h4>
	<div>
	<h4>Kompostieren, die Tierwelt im Kompost wird entdeckt</h4>
		<p>
			Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig, 
dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese 
Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach 
lebenden Komposttieren zu forschen. 
		</p><br />
		<div id="orders">
			<div class="column nine reset">
				<div class="orderTitle column three reset">
					<p>Kursleitung</p>
					<p>Kursziel</p>
					<p>Kursdauer</p>
					<p>mögliche Kurstage</p>
					<p>Kursort</p>
					<p>Stufen</p>
				</div>
				<div class="column nine reset last">
					<p>Barbara Schumacher</p>
					<p>Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.</p>
					<p>2 oder 3 Std. </p>
					<p>Montag bis Donnerstag, ideal am Nachmittag </p>
					<p>Kindergarten, Schulzimmer, Areal Schulhaus</p>
					<p>KG bis 6. Primar</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="column three reset last">
				<%= image_tag('kompost.png' ) %>
			</div>
		</div>
	</div>

	<h4><a href="#">Sekundarschule</a></h4>
	<div>
		<h4>Kompostieren, die Tierwelt im Kompost wird entdeckt</h4>
		<p>
			Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig, 
dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese 
Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach 
lebenden Komposttieren zu forschen. 
		</p><br />
		<div id="orders">
			<div class="column nine reset">
				<div class="orderTitle column three reset">
					<p>Kursleitung</p>
					<p>Kursziel</p>
					<p>Kursdauer</p>
					<p>mögliche Kurstage</p>
					<p>Kursort</p>
					<p>Stufen</p>
				</div>
				<div class="column nine reset last">
					<p>Barbara Schumacher</p>
					<p>Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.</p>
					<p>2 oder 3 Std. </p>
					<p>Montag bis Donnerstag, ideal am Nachmittag </p>
					<p>Kindergarten, Schulzimmer, Areal Schulhaus</p>
					<p>KG bis 6. Primar</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="column three reset last">
				<%= image_tag('kompost.png' ) %>
			</div>
		</div>
	</div>
	
	</div><!-- Accordeon -->
</p>
</article>