%section#banner
  .inner
    %header
      = link_to "Umweltpädagogik", root_path()

%section#header
  %nav#nav
    %ul
      %li= link_to "Home", root_path()
      %li= link_to "Angebot", offers_path()
      %li= link_to "Fotos", photos_path()
      %li= link_to "Filme", videos_path()
      %li= link_to "Über uns", aboutUs_path()
      %li= link_to "Kunden", kunden_path()
      %li= link_to "Kurs Effizienz Nachweise",  kurs_effizienz_path()
      %li= link_to "Medienberichte",  medienberichte_path()
