<section id="banner">
  <div class="inner">
    <header>
      <a href="index.html">Umweltpädagogik</a>
    </header>
  </div>
</section>

<section id="header">
 <nav id="nav">
  <ul>
    <li><%= link_to "Home", root_path() %></li>
    <li><%= link_to "Angebot", offers_path() %></li>
    <li><%= link_to "Fotos", photos_path()%></li>
    <li><%= link_to "Filme", videos_path()%></li>
    <li><%= link_to "Über uns", aboutUs_path()%></li>
  </ul>
</nav> 
</section>
